<!doctype html>
<html lang="en" ng-app="trackMe">
<head>
    <title>Track Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="css/app.css">

</head>
<body>


<div class="container" ng-controller="ProgressBarController">
    <div class="col-md-12">
        <div class="panel">
            <header class="panel-heading">
                <h3>{{today()}}  -  Today's Goals and Progress</h3>
                <h4> Keep track of your diet and fitness</h4>
                <h5> Graph your diet and fitness trends (Work in Progress)</h5>
            </header>

            <div class="text-center">
                Filter By
                <button ng-click="sort('percentage')">Diet
                    <span class="glyphicon sort-icon" ng-show="sortKey=='percentage'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span>
                </button>
                <button ng-click="sort('total')">Exercise
                    <span class="glyphicon sort-icon" ng-show="sortKey=='total'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span>
                </button>
                Sort By
                <button ng-click="sort('percentage')">Percentage
                    <span class="glyphicon sort-icon" ng-show="sortKey=='percentage'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span>
                </button>
                <button ng-click="sort('total')">Current Total
                    <span class="glyphicon sort-icon" ng-show="sortKey=='total'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span>
                </button>
                <button ng-click="sort('goal')">Goal
                    <span class="glyphicon sort-icon" ng-show="sortKey=='goal'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span>
                </button>
                <button ng-click="sort('dataPoints[dataPoints.length-1]')">Recent
                    <span class="glyphicon sort-icon" ng-show="sortKey=='dataPoints[dataPoints.length-1]'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span>
                </button>
            </div>

            <div class="panel-body">
                <ul class="goal-progress" ng-repeat="goal in dietGoals | orderBy: sortKey :reverse ">
                    <li class="diet"><div class="row progressrow" style="padding-left: 10px">
                            <div class="details">
                                <div class="title">
                                    <h3 ng-show="goal.total < goal.goal"> Current total is {{goal.total}} of {{goal.goal}} {{goal.units}} of {{goal.label}}</h3>
                                    <h3 ng-show="goal.total >= goal.goal"> Congratulations! You have reached your goal of {{goal.goal}} {{goal.units}} of {{goal.label}}. Current total is {{goal.total}}.</h3>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:{{goal.percentage}}%;background-color:{{goal.color}}">
                                        <span class="">{{goal.percentage| number:0}}%</span>
                                    </div>
                                </div>
                                <button ng-click="add(goal)">I had one {{goal.unit}} of {{goal.label}}</button>
                                <button ng-click="goal.history = !goal.history">View History</button>
                                <button style="float:right" ng-click="goal.total = 0; goal.dataPoints = []">Reset Total</button>
                                <button style="float:right" ng-click="goal.goal = newGoal>1 ? newGoal : goal.goal">Update Goal (minimum 2)</button>
                                <input style="float:right" type="number" min="1" max="1000" ng-model="newGoal" required>
                                <div ng-show="goal.history" ng-repeat="point in goal.addedOn">
                                    Added on {{today()}} at {{point}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Footer Section -->
<footer class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p>&copy; <a href="jakelee.io">jakelee.io</a> 2016. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer Section -->

<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-1.4.4.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/ProgressBarController.js"></script>


</body>



</html>